extends layout.pug

block content
  .container.mt-5
    .card
      .card-body.p-5.bg-light
        .display-4 Welcome to a Simple blog!
        hr
        p.lead Create new articles quickly and easily.
